
.heading{
    margin:2rem auto;
    font-size:6rem;
    color:white;
    text-align: center;
    text-transform: uppercase;
    width:100vw;
}
.vs {
    background: radial-gradient(#0990B5, black);
   /* linear-gradient(to bottom right,#076984 40%, white 60%) bottom right,
   linear-gradient(to bottom left, #076984 40%, white 60%) bottom left,
   linear-gradient(to top left,  #076984 40%, white 60%) top left,
   linear-gradient(to top right,   #076984 40%, white 60%) top right;*/
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media only screen and (max-width:900px) {
    .heading {
        font-size: 4rem;
        margin:3rem auto 2rem auto;

    }
}

@media only screen and (max-width:500px) {
    .heading {
        font-size: 3rem;
    }
}